In [ ]:
import pandas as pd

### Basic Exploration

In [ ]:
# Directly read the CSV from the URL
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
df

In [ ]:
import os
# Show current working directory
os.getcwd()

In [ ]:
# Save it locally if needed
df.to_csv('../datasets/titanic.csv', index=False)
# # Display the first 5 rows
# df.head()
df.head(10)

In [ ]:
print("\n*********************shape*******************\n")
# Show Rows and columns
print(df.shape)
print("\n******************info()**********************\n")
print(df.info())

In [ ]:
# print("\n******************describe()**********************\n")
# print(df.describe())
df.describe()

### Handling Missing Data

In [ ]:
# # - Returns a DataFrame of the same shape with Boolean values (True for null, False otherwise).
# df.isnull()
df.isnull().sum()

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df.dropna(subset=['Embarked'], inplace=True)

### Duplicates

In [ ]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

### Rename & Drop Columns

In [ ]:
df.rename(columns={'Sex': 'Gender'}, inplace=True)
df.drop(columns=['Cabin'], inplace=True)
df